<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <webview preload="../js/twitterAPI.js"></webview>
  </head>
  <body>

    <ul class='tweet-list'></ul>

    <h1>Tweet Tweet</h1>
    We are using node <script>document.write(process)</script>,
    Chrome <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.
    <script>var $ = require('jquery');</script>
    <script src='./../js/startTweets.js'></script>

  </body>
</html>
